
.main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right_side {
    min-width: 80vw;

}

/* Sidebar */
li {
    /* Just removing the bullet point */
    list-style-type: none;
}

.sidebar {
    display: grid;
    /* Make the logo bigger */
    grid-template-rows: 2rem 1fr;
    width: 20vw;
    background-color: aqua;
}

.sidebar>ul {
    display: grid;
    gap: 10px;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_identity {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
