
.main_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* Sidebar */
li {
    /* Just removing the bullet point */
    list-style-type: none;
}

.sidebar {
    display: grid;
    /* Make the logo bigger */
    grid-template-rows: 2rem 1fr;
}

.sidebar>ul {
    display: grid;
    gap: 10px;
}

