@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
}


.main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right_side {
    min-width: 70vw;

}

/* Sidebar */
li {
    /* Just removing the bullet point */
    list-style-type: none;
}

.sidebar {
    display: grid;
    /* Make the logo bigger */
    grid-template-rows: 2rem 1fr;
    width: 30vw;
    height: 100vh;
    background-color: aqua;
}

.sidebar>ul {
    display: grid;
    gap: 10px;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_identity {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Main section */
.main_panel {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
}

h3 {
    /* TODO: Change styling of announcement headings */
    font-size: 1.1rem;
    font-weight: 300;
}

/* Content grid */
.content_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.card {
    text-align: center;
    font-size: 1rem;
    border: solid 1px black;
}

/* Main section right */
.main_section_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
